@{
    ViewData["Title"] = "Home";
}

<div class="full-page-hero">

    <div class="album-wall">
        <div class="album-track">
            <img src="/images/khari.jpg" />
            <img src="/images/kharishma.jpg" />
            <img src="/images/mabhoso.jpg" />
            <img src="/images/mimi.jpg" />
            <img src="/images/nelly.jpg" />
            <img src="/images/shandi.jpg" />
            <img src="/images/shandesh.jpg" />
            <img src="/images/mabhoso.jpg" />
        </div>
    </div>

    <div class="album-overlay">
        <div class="hero-content">
            <h1><span>AULORAUDIO</span></h1>
            <p>Stream & download your favorite tracks</p>

            <a asp-controller="Songs" asp-action="Index" class="btn-music">
                Open Player
            </a>
        </div>
    </div>
</div>
